 
 
 @font-face {
  font-family: "BD Cartoon Shout";
  src: local("BD Cartoon Shout"),
  url("../fonts/bdcartoonshout.ttf") format("truetype");
 }

  h1 {
  font-family: "BD Cartoon Shout";
    color: #FF8800;
    font-size: 35px;
 }

h2 {
   font-family: Arial, sans-serif;
   color: #A8CBA0; 
   font-size: 30px;
  }
 
 body {
   background-color: #263238;
   padding: 50px;
   color: #ECEFF1; 
 }
  
 .telex-regular {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}


ul   {
list-style-type: none; 
  padding-left: 0px;
  max-width: 350px;
  min-width: 230px;
}

li a {
  display: block; 
    padding: 10px 15px; 
    margin-bottom: 5px;
  background-color:#37474F; 
  color: #ECEFF1;
    text-decoration: none; 
  border-radius: 5px; 
}

li a:hover {
    background-color: #FF8800;
    color: #263238; 
}