 
 
 @font-face {
  font-family: "BD Cartoon Shout";
  src: local("BD Cartoon Shout"),
  url("fonts/bdcartoonshout.ttf") format(".ttf");
 }

  h1 {
  font-family: "BD Cartoon Shout";
    color: green;
    font-size: 35px;
 }

h2 {
   font-family: Arial, sans-serif;
   color: #BE5103; 
   font-size: 30px;
  }
 
 body {
   background-color: beige;
   padding: 50px;
   color: #BE5103; 
 }
  
 .telex-regular {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}


ul   {
list-style-type: none; 
  padding-left: 0px;
  max-width: 350px;
  min-width: 230px;
}

li a {
  display: block; 
    padding: 10px 15px; 
    margin-bottom: 5px;
  background-color: #f0e6d2; 
    text-decoration: none; 
  border-radius: 5px; 
}
