
  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 60px; 
}


#header {
display: flex; 
  justify-content: center; 
  align-items: center;  
  gap: 30px;          
  padding: 10px 20px;
  background-color: #E07A5F ;
  color: white;
  position: fixed; 
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


#header-img {
    height: 100px; 
}

.nav-link {
    color: white;
    text-decoration: none; 
    margin-left: 15px; 
}

.nav-link:hover {
    text-decoration: underline; 
}


section {
    padding: 100px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto; 
}



#form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#email {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

#submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 600px) {
  #header {
    flex-direction: column; 
    height: auto;
  }
  #nav-bar {
      margin-top: 10px; 
  }
  body {
      padding-top: 100px; 
  }
}

.video-wrapper {
  position: relative;
    overflow: hidden;
    max-width: 600px; 
    
    margin: 15px auto; 
    
    aspect-ratio: 16 / 9; 
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.wrapper {
	width: 100%;
	height: 100%;
}
.box {
	display: flex;
	width: 950px;
	margin: 140px auto;
}
.single-box {
	width: 300px;
	background: #fff;
	margin-right: 20px;
	padding: 25px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
}
.single-box:last-child {
	margin-right: 0;
}
.single-box .img img {
	width: 200px;
	margin-bottom: 10px;
}
.single-box .price {
	font-weight: 600;
	font-size: 45px;
}
.img {
	position: absolute;
	top: -25%;
	left: 20%;
}
.single-box h3 {
	margin-top: 25%;
	margin-bottom: 15px;
}
.single-box p {
	line-height: 1.9;
}
.single-box a {
	background: #f57e20;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 30px;
}
@media(max-width:991px) {
	.box {
		width: 100%;
	}
}
@media (max-width:767px) {
	.box {
		width: 100%;
		flex-direction: column;
	}
	.single-box {
		margin-right: 0;
		width: 100%;
		margin-bottom: 110px;
	}
}
