
  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 60px; 
}


#header {
display: flex; 
  justify-content: center; 
  align-items: center;  
  gap: 30px;          
  padding: 10px 20px;
  background-color: #E07A5F ;
  color: white;
  position: fixed; 
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


#header-img {
    height: 100px; 
}

.nav-link {
    color: white;
    text-decoration: none; 
    margin-left: 15px; 
}

.nav-link:hover {
    text-decoration: underline; 
}


section {
    padding: 100px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto; 
}



#form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#email {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

#submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 600px) {
  #header {
    flex-direction: column; 
    height: auto;
  }
  #nav-bar {
      margin-top: 10px; 
  }
  body {
      padding-top: 100px; 
  }
}

.video-wrapper {
  position: relative;
    overflow: hidden;
    /* This sets the max size you want the video to reach */
    max-width: 600px; 
    
    /* Center the wrapper horizontally */
    margin: 15px auto; 
    
    /* Use modern CSS aspect-ratio */
    aspect-ratio: 16 / 9; 
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
