 
 
 @font-face {
  font-family: "Blustrue";
  src: local("Blustrue"),
  url("fonts/blustrue.ttf") format(".ttf");
 }

  h1 {
  font-family: "blustrue", sans-serif;
    color: green;
 }

  h2 {
   font-family: Arial, sans-serif;
   color: #BE5103; 
  }
 
 body {
   background-color: beige;
   padding: 50px;
   color: #BE5103; 
 }
  
 .telex-regular {
  font-family: "Telex", sans-serif;
  font-weight: 400;
  font-style: normal;
}